{
  "presets": [["env", {
      "targets": {
          "browsers": ["ie >= 9"]
      }
  }]],
  "plugins": [
    "transform-vue-jsx",
    "transform-object-rest-spread",
    "syntax-async-functions",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}
